body {overflow-x:hidden;}
ul,li {margin:0;padding:0;list-style:none;}
a {color:#333;text-decoration:none;}
a:hover {text-decoration:none;color:#333;}
img {max-width:100%;}
.h1,.h2,.h3,h1,h2,h3,.h4,.h5,.h6,h4,h5,h6,p {margin:0;padding:0;}
.fl {float:left;}
.fr {float:right;}
.text-left {text-align:left !important;}
[class*=col-lg-] {padding:0;}
.clear{clear:both;}
@media all and (min-width:1200px) {
	.container {width:1200px;padding:0;}
}

/*共用样式*/
.index_tit {text-align:center;margin-bottom:50px;}
.index_tit h3 {margin-bottom:30px;}
.index_tit h3 p {color:#999;font-size:16px;margin-bottom:10px;}
.index_tit h3 font {color:#c40000;font-size:30px;font-weight:bold;display:block;}
.index_tit span {font-size:14px;color:#999;display:block;line-height:28px;}
.index_tit span p {}

.inside{padding-top:60px;}

.inside_page{text-align:center;margin:30px 0;}
.inside_page a{display:inline-block;margin:0 5px;padding:5px 15px;border:1px solid #dedede;}
.inside_page a.on,.inside_page a:hover{color:#fff;background:#c40000;border-color:#c40000;}

.inside_detail{}
.inside_detail h2{font-size:25px;color:#333;}
.inside_detail .id_other{color:#adadad;font-size:13px;margin:30px 0 20px;padding-bottom:30px;border-bottom:1px solid #dedede;}
.inside_detail .id_con{line-height:2;font-size:14px;color:#676767;}
.inside_detail .id_next{border-top:1px dashed #dedede;margin-top:20px;padding-top:20px;}
.inside_detail .id_next .idn_left{float:left;max-width:70%;}
.inside_detail .id_next .idn_left span{display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;margin-bottom:20px;}
.inside_detail .id_next .idn_left span font{margin-right:30px;color:#666;}
.inside_detail .id_next .idn_left span a{color:#666;}
.inside_detail .id_next .idn_right{float:right;}

.detail_slide{width:80%;margin:0 auto;position:relative;height:400px;margin-bottom:10px;}
.detail_slide .bd{height:330px;overflow:hidden;}
.detail_slide .bd ul{height:100% !important;}
.detail_slide .bd ul li{text-align:center;height:100%;}
.detail_slide .bd ul li img{max-height:100%;position:relative;top:50%;transform:translateY(-50%);}
.detail_slide .hd{width:210px;position:absolute;left:50%;transform:translateX(-50%);height:60px;bottom:0px;}
.detail_slide .hd ul{text-align:center}
.detail_slide .hd ul li{display:inline-block;width:70px;height:60px;}
.detail_slide .hd ul li span{margin:0 5px;width:60px;overflow:hidden;display:block;height:100%;position:relative;background:#efefef;border:1px solid #fff;box-sizing:border-box;}
.detail_slide .hd ul li.on span{border:1px solid #ff0000;}
.detail_slide .hd ul li img{height:100%;position:relative;top:50%;left:50%;transform:translate(-50%,-50%);}
.detail_slide .hd .ds_prev,.detail_slide .hd .ds_next{position:absolute;top:50%;transform:translateY(-50%);margin:auto;height:52px;}
.detail_slide .hd .ds_prev.prevStop,.detail_slide .hd .ds_next.nextStop{opacity:.1;}
.detail_slide .hd .ds_prev{left:-40px;}
.detail_slide .hd .ds_next{right:-40px;}


/*头部*/
.header {height:120px;}
.header .container {height:100%;}
.header .h_logo {float:left;height:100%;}
.header .h_logo a {}
.header .h_logo a img {position:relative;top:50%;transform:translateY(-50%);}
.header .h_nav {float:right;height:100%;}
.header .h_nav ul {}
.header .h_nav ul li {float:left;margin:0 10px;position:relative;line-height:120px;}
.header .h_nav ul li>a {font-size:16px;display:block;padding:0 20px;}
.header .h_nav ul li>a:hover,.header .h_nav ul li>a.on {color:#c40000;}
.header .h_nav ul li .two_nav {position:absolute;max-height:0;overflow:hidden;transition:.5s all ease;width:100%;text-align:center;}
.header .h_nav ul li .two_nav a {display:block;background:#fff;height:40px;line-height:40px;}
.header .h_nav ul li:hover .two_nav {max-height:1000px;}

/*底部*/
.footer {background:#333;padding-top:70px;color:#999;margin-top:80px;}
.footer .f_top {border-bottom:1px solid #4d4d4d;padding-bottom:50px;}
.footer .f_top .ft_item {}
.footer .f_top .ft_item .fti_box {position:relative;padding-left:138px;text-align:left;display:inline-block;}
.footer .f_top .ft_item h3 {float:left;position:relative;padding-right:20px;margin-right:20px;position:absolute;left:0;top:0;}
.footer .f_top .ft_item h3:before {content:'';position:absolute;right:0;top:0;height:50px;width:1px;background:#4d4d4d;}
.footer .f_top .ft_item span {float:left;}
.footer .f_top .ft_item span font {}
.footer .f_top .ft_item span p {color:#ccc;font-weight:bold;font-size:30px;}
.footer .f_down {padding:20px 0;text-align:center;}

/*首页*/
.index_banner {position:relative;}
.index_banner .hd {position:absolute;left:0;width:100%;bottom:15px;text-align:center;}
.index_banner .hd ul li {width:10px;height:10px;background:rgba(255,255,255,.3);margin:0 4px;border-radius:50%;display:inline-block;text-indent:100px;overflow:hidden;}
.index_banner .hd ul li.on {background:rgba(255,255,255,.6);}
.group1 {padding:80px 0;}
.group1 .g1_item {text-align:center;}
.group1 .g1_item h3 {font-size:36px;margin-bottom:10px;color:#c40000;}
.group1 .g1_item span {display:block;font-size:14px;line-height:24px;}
.group1 .g1_item span p {}
.group2 {margin-bottom:80px;}
.group2 .g2_slide {}
.group2 .g2_slide ul li {width:33.333%;padding:0 5px;}
.group2 .g2_slide ul li a {display:block;position:relative;}
.group2 .g2_slide ul li span {position:absolute;bottom:-26px;left:0;width:100%;height:26px;line-height:26px;font-size:12px;background:rgba(0,0,0,.5);color:#fff;text-align:center;transition:.5s all ease;}
.group2 .g2_slide ul li:hover span {bottom:0;}
.group3 {margin-bottom:100px;}
.group3 .g3_list {}
.group3 .g3_list ul {text-align:center;font-size:0;}
.group3 .g3_list ul li {width:33.333%;display:inline-block;padding:0 15px;vertical-align:top;text-align:left;}
.group3 .g3_list ul li a {background:#F5F5F5;display:block;padding:30px 20px;}
.group3 .g3_list ul li a h3 {font-size:22px;line-height:35px;}
.group3 .g3_list ul li a i {display:block;margin:20px 0;}
.group3 .g3_list ul li a span {display:block;font-size:14px;color:#999;line-height:30px;height:90px;}
.group4 {margin-bottom:80px;}
.group4 .index_tit{padding-left:10px;}
.group4 .g4_top{width:70%;font-size:0;padding-right:23px;margin-bottom:5px;}
.group4 .g4_top span{width:50%;display:inline-block;padding-left:10px;}
.group4 .g4_list table {}
.group4 .g4_list table td {vertical-align:top;}
.group5 {margin-bottom:80px;}
.group5 .g5_list {}
.group5 .g5_list ul {text-align:center;font-size:0;}
.group5 .g5_list ul li {width:25%;display:inline-block;padding:0 10px;}
.group5 .g5_list ul li a {display:block;position:relative;overflow:hidden;}
.group5 .g5_list ul li a img {}
.group5 .g5_list ul li a span {position:absolute;bottom:-26px;left:0;width:100%;height:26px;line-height:26px;font-size:12px;background:rgba(0,0,0,.5);color:#fff;text-align:center;transition:.5s all ease;}
.group5 .g5_list ul li:hover a span {bottom:0;}
.group6 {margin-bottom:80px;}
.group6 .g6_list {margin-top:80px;}
.group6 .g6_list ul {}
.group6 .g6_list ul li {width:50%;float:left;margin-bottom:40px;}
.group6 .g6_list ul li:nth-child(odd) {padding-right:20px;}
.group6 .g6_list ul li:nth-child(even) {padding-left:20px;}
.group6 .g6_list ul li i {float:left;width:230px;margin-right:20px;border-radius:5px;overflow:hidden;}
.group6 .g6_list ul li span {float:left;width:calc(100% - 250px);}
.group6 .g6_list ul li span h3 {font-size:16px;color:#333;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.group6 .g6_list ul li span p {font-size:14px;color:#878787;height:78px;overflow:hidden;line-height:26px;margin:14px 0 10px;}
.group6 .g6_list ul li span font {font-size:14px;color:#999;}
.group7 .g7_slide ul li {width:20%;}

/*资讯列表*/
.inside.news .g6_list ul li{width:100%;padding:0;}
.inside.news .n_tit{padding:45px 0;text-align:center;background:url(../AD0Ix7qyCRACGAAgqpf45wUogfaV3gEwgA84oAE.jpg) no-repeat center center;background-size:100% 100%;}
.inside.news .n_tit h3{font-size:30px;color:#333;margin-bottom:10px;}
.inside.news .n_tit p{font-size:16px;color:#999;}
.inside.news .n_down{padding-top:60px;}
.inside.news .n_down ul{}
.inside.news .n_down ul li{float:left;padding-right:30px;width:50%;}
.inside.news .n_down ul li:nth-child(even){float:right;padding-left:30px;padding-right:0;}
.inside.news .n_down ul li a{display:block;border-bottom:1px solid #ededed;line-height:50px;height:50px;padding:0 5px;}
.inside.news .n_down ul li:last-child a,.inside.news .n_down ul li:nth-last-child(2) a{border:none;}
.inside.news .n_down ul li a h3{float:left;font-size:16px;color:#333;line-height:50px;max-width:80%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.inside.news .n_down ul li a font{float:right;font-size:14px;color:#999;}

/*案例列表*/
.inside.pro{}
.inside.pro .p_list{}
.inside.pro .p_list ul{}
.inside.pro .p_list ul li{width:25%;float:left;margin-bottom:30px;}
.inside.pro .p_list ul li a{display:block;padding:0 10px;}
.inside.pro .p_list ul li span{display:block;}
.inside.pro .p_list ul li p{text-align:center;margin-top:10px;}

/*关于我们*/
.inside.about{}
.inside.about .a_who{}
.inside.about .a_who ul{}
.inside.about .a_who ul li{float:left;width:50%;}
.inside.about .a_who ul li span{float:left;width:50%;padding-top:40px;padding-left:60px;}
.inside.about .a_who ul li:nth-child(3) span,.inside.about .a_who ul li:nth-child(4) span{float:right;}
.inside.about .a_who ul li span h3{font-size:24px;color:#333;margin-bottom:15px;}
.inside.about .a_who ul li span p{font-size:18px;color:#666;line-height:1.6;}
.inside.about .a_who ul li span p font{display:block;}
.inside.about .a_who ul li i{float:left;width:50%;}
.inside.about .a_who ul li:nth-child(3) i,.inside.about .a_who ul li:nth-child(4) i{float:left;}
.inside.about .a_who ul li i img{}
.inside.about .a_intro{padding:80px 0;border-top:1px solid #f5f5f5;border-bottom:1px solid #f5f5f5;margin:60px 0;}
.inside.about .a_intro .ai_item{text-align:center;position:relative;}
.inside.about .a_intro .ai_item:nth-child(2){border-left:1px solid #efefef;border-right:1px solid #efefef;}
.inside.about .a_intro .ai_item h3{position:relative;color:#333;font-size:20px;padding-bottom:20px;margin-bottom:20px;}
.inside.about .a_intro .ai_item h3:before{content:'';position:absolute;height:1px;width:40px;background:#c40000;bottom:0;left:0;right:0;margin:auto;}
.inside.about .a_intro .ai_item p{font-size:14px;line-height:2;}
.inside.about .a_server{}
.inside.about .a_server ul{}
.inside.about .a_server ul li{width:33.333%;padding:0 5px;float:left;margin-bottom:10px;}
.inside.about .a_server ul li:nth-child(4),.inside.about .a_server ul li:nth-child(5){width:50%;}
.inside.about .a_server ul li a{position:relative;display:block;color:#fff;}
.inside.about .a_server ul li a span{position:absolute;top:50%;left:50%;text-align:center;transform:translate(-50%,-50%);}
.inside.about .a_server ul li a span h4{font-size:36px;margin-bottom:5px;}
.inside.about .a_server ul li a span p{font-size:24px;}

/*品牌设计*/
.inside.brand{}
.inside.brand .b_icon{margin-bottom:80px;}
.inside.brand .b_icon ul{text-align:center;font-size:0;}
.inside.brand .b_icon ul li{text-align:center;display:inline-block;width:25%;}
.inside.brand .b_icon ul li i{display:block;margin-bottom:5px;}
.inside.brand .b_icon ul li p{font-size:16px;color:#666;}
.inside.brand .b_server{margin-bottom:80px;}
.inside.brand .b_server .bs_item{padding:0 20px;}
.inside.brand .b_server .bs_item .bsi_bg{padding:30px 20px 40px;background:#F5F5F5;}
.inside.brand .b_server .bs_item h3{font-size:24px;line-height:36px;position:relative;padding-bottom:30px;margin-bottom:30px;}
.inside.brand .b_server .bs_item h3:before{content:'';height:2px;background:#c40000;width:40px;position:absolute;left:0;bottom:0;}
.inside.brand .b_server .bs_item span{height:150px;overflow:hidden;display:block;}
.inside.brand .b_server .bs_item span p{font-size:14px;color:#999;line-height:30px;}

/*公关活动*/
.inside.activity{}
.inside.activity .a_slide{margin-bottom:80px;}
.inside.activity .a_slide .hd{margin-bottom:50px;}
.inside.activity .a_slide .hd ul{text-align:center;}
.inside.activity .a_slide .hd ul li{display:inline-block;padding:8px 25px;font-size:16px;border:1px solid #ededed;margin:0 20px;cursor:pointer;}
.inside.activity .a_slide .hd ul li.on{color:#fff;background:#c40000;}
.inside.activity .a_slide .bd{}
.inside.activity .a_slide .bd ul{}
.inside.activity .a_slide .bd ul li{text-align:center;font-size:0;}
.inside.activity .a_slide .bd ul li .as_item{width:25%;display:inline-block;padding:0 10px;}
.inside.activity .a_slide .bd ul li .as_item a{display:block;}
.inside.activity .a_slide .bd ul li .as_item a span{}
.inside.activity .a_slide .bd ul li .as_item a span img{}
.inside.activity .a_slide .bd ul li .as_item a p{font-size:14px;margin-top:10px;}

.inside.activity .a_list{}
.inside.activity .a_list ul{text-align:center;font-size:0;}
.inside.activity .a_list ul li{display:inline-block;width:33.333%;padding:0 40px;margin-bottom:50px;text-align:left;}
.inside.activity .a_list ul li a{box-shadow:0 0 16px #dedede;border-radius:6px;overflow:hidden;display:block;background:#fff;}
.inside.activity .a_list ul li a i{overflow:hidden;display:block;}
.inside.activity .a_list ul li a i img{}
.inside.activity .a_list ul li a span{display:block;padding:15px 15px 30px;}
.inside.activity .a_list ul li a span h3{font-size:16px;color:#333;margin-bottom:10px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.inside.activity .a_list ul li a span p{font-size:14px;color:#878787;line-height:1.8;height:78px;overflow:hidden;}